<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SIGNVERSE</title>
<link rel="stylesheet" href="/static/Index-style.css">
</head>
<body>


<div class="container">
  <div class="header">
    <a href="index.html" class="button" id="logo"><img src="/static/Sign-Verse-main/Images/logoo.png" alt="logo" width="300px" height="150px" ></a>
    <a href="Sign.html" class="button"><h2 style="color:#FFD700;">CONNECTING THROUGH SIGNS</h2></a>
  </div>

  
    <div class="column">
      <div style="display: grid; justify-items: center">
      <a href="Sign-to-text.html" class="button2"><h4 class="oblique">Sign Language To Text</h4></a>
        <a href="Text-Image.html" class="button2"><h4 class="oblique">Text To Sign Language</h4></a>
      <a href="About.html" class="button2"><h4 class="oblique">About Us</h4></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
